.DS_Store
.idea/
node_modules/
customer/
dist/

/splider-example/node_modules
/music-splider/node_modules
/spider-for-music/node_modules

/music-splider/.idea
/spider-for-music/.idea

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln